<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <title>Title</title>

</head>
<body>

<header>

    <nav class="nav">
        <a href="/">KEA</a>
        <a href="/">Students</a>
        <a href="/">Courses</a>
    </nav>

</header>
<div class="container">
    <h1>Create Student</h1>
    <form th:action="@{/createStudent}" th:object="${student}" method="post">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" th:field="*{firstName}" placeholder="First name" /></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" th:field="*{lastName}" placeholder="Last name"/></td>
            </tr>
            <tr>
                <th>Enrollment date</th>
                <td><input type="date" th:field="*{enrollmentDate}"/></td>
            </tr>
            <tr>
                <th>Cpr</th>
                <td><input type="text" th:field="*{cpr}"/></td>
            </tr>
        </table>
    </form>

    <br>
    <input type="submit" value="Create" class="btn btn-create">
</div>

</body>
</html>