<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Her kan du rette</title>

    <nav class="nav">
        <a href="/">KEA</a>
        <a href="/">Students</a>
        <a href="/">Courses</a>
    </nav>
</head>
<body>
<h1>BLA BLA BLA</h1>
<Form class ="container" th:action="@{student/deleteStudent}" method="post">
    <input type="hidden" name="id" th:value="${student.id}"/>
    <p th:text="${student.id}"></p>
    <p th:text="${student.firstName}"></p>
    <p th:text="${student.lastName}"></p>
    <p th:text="${student.enrollmentDate}"></p>
    <p th:text="${student.cpr}"></p>
    <input class ="btn btn-primary" type="submit"value="Delete student"/>

</Form>

</body>
</html>