<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <title>Welcome to KEA</title>
</head>
<body>

<!-- Header Section -->

<header>

    <!-- Navigation Bar -->

    <nav class="navigation">

        <a href="/">KEA</a>
        <a href="overview">Students</a>
        <a href="/">Courses</a>

    </nav>

</header>

<div class="container">

    <!-- <img src> -->

    <h1>Welcome to KEA</h1>

</div>

</body>
</html>